<ion-content [fullscreen]="true" class="ion-padding">

  <app-loader [textLoader]="textLoader"></app-loader>

  <div
    class="h-100 d-flex justify-content-center align-content-center align-items-center">
    <ion-card style="max-width: 350px; width: 100%; min-height: 500px">
      <ion-card-header>
        <ion-card-title>Código de recuperación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Logo de la app -->
        <div class="d-flex justify-content-center">
          <div
            class="rounded rounded-pill justify-content-center align-content-center align-items-center"
            style="
              height: 150px;
              width: 150px;
              background-color: rgb(255, 255, 255);
            ">
            <img width="250" src="assets/logo.png" alt="logo" />
          </div>
        </div>
        <form [formGroup]="validateForm">
          <ion-item lines="none">
            <ion-label position="stacked" class="bold-label">Correo</ion-label>
            <ion-input
              (keyup)="verifyKey($event)"
              type="text"
              formControlName="identificator"></ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="validateForm.get('identificator')?.invalid && validateForm.get('identificator')?.touched">
            Ingrese su correo!
          </ion-text>

          <ion-button class="mt-2" expand="block" (click)="submitForm()">
            Solicitar
          </ion-button>

          <ion-button
            class="mt-2"
            expand="block"
            fill="clear"
            routerLink="/login">
            Iniciar sesión
          </ion-button>
          <ion-button
            *ngIf="isCodeActive"
            class="mt-2"
            expand="block"
            fill="clear"
            routerLink="/verify-code">
            Ingresar código
          </ion-button>
          <div class="ion-text-center ion-padding-top" *ngIf="isCodeActive">
            <ion-text>Código expira en: {{ remainingTime }}</ion-text>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    message="{{toastMessage}}"
    [duration]="5000"
    (didDismiss)="setOpenedToast(false)"></ion-toast>
</ion-content>
