<ion-content [fullscreen]="false">
  <app-wrapper
    [textLoader]="textLoader"
    [toastMessage]="toastMessage"
    [toastColor]="toastColor"
    [isToastOpen]="isToastOpen"
    (isToastOpenChange)="setOpenedToast($event)">
  </app-wrapper>
  <section>
    <app-view-data
      [title]="'Usuarios'"
      [context]="'usuario'"
      [data]="elements"
      [columnsData]="columnsData"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (addButtonClicked)="onAddButtonClicked()"
      (editButtonClicked)="onEditButtonClicked($event)"
      (deleteButtonClicked)="onDeleteButtonClicked($event)"
      (resetPasswordButtonClicked)="onResetPasswordButtonClicked($event)"
      (infoButtonClicked)="onInfoButtonClicked($event)"
      (transferClicked)="onTransferButtonClicked($event)"
      (selectClientClicked)="onSelectClientsButtonClicked($event)"
      (currentPageOut)="onPageChange($event)"
      (searchOut)="onSearchData($event)">
    </app-view-data>

    <app-reusable-modal
      [(isOpen)]="isModalOpen"
      [content]="modalSelected"
      [modalConfig]="modalConfig"
      [formSave]="formSelected"
      (saveData)="handleSave($event)">
    </app-reusable-modal>

    <ng-template #modalAdd let-close="close" let-save="save" let-form="form">
      <ion-header>
        <ion-toolbar>
          <ion-title>Formulario de Usuarios</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="form" (ngSubmit)="save(form.value)">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Rol</ion-label
                  >
                  <ion-select
                    formControlName="rolid"
                    placeholder="Seleccione un rol">
                    @for (item of roles; track item.id) {
                    <ion-select-option [value]="item.id"
                      >{{item.descripcion}}</ion-select-option
                    >
                    } @empty {
                    <ion-select-option [value]="0"
                      >No hay roles</ion-select-option
                    >
                    }
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Nombre:</ion-label
                  >
                  <ion-input
                    formControlName="nombre"
                    placeholder="Ingrese nombre"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Apellido:</ion-label
                  >
                  <ion-input
                    formControlName="apellido"
                    placeholder="Ingrese apellido"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Teléfono:</ion-label
                  >
                  <ion-input
                    [appInputMask]="'####-####'"
                    type="tel"
                    formControlName="telefono"
                    placeholder="Ej: 0000-0000"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Correo:</ion-label
                  >
                  <ion-input
                    type="email"
                    formControlName="correo"
                    placeholder="usuario@ejemplo.com"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="6" size-md="3">
                <ion-item lines="none" lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >AD</ion-label
                  >
                  <ion-toggle formControlName="ad" class="my-2"></ion-toggle>
                </ion-item>
              </ion-col>

              <ion-col size-xs="6" size-md="3">
                <ion-item lines="none" lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Estado</ion-label
                  >
                  <ion-toggle
                    formControlName="estado"
                    class="my-2"></ion-toggle>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-md="6">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Observación:</ion-label
                  >
                  <ion-textarea
                    formControlName="observacion"
                    rows="3"
                    placeholder="Ingrese observaciones aquí"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
                <ion-button expand="block" type="submit" class="ion-margin-top">
                  Guardar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
    </ng-template>

    <ng-template #modalResetPswd let-close="close" let-save="save">
      <ion-header>
        <ion-toolbar>
          <ion-title>Restablecer Contraseña</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form
          [formGroup]="formResetPswd"
          (ngSubmit)="save(formResetPswd.value)">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="12">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Identificador</ion-label
                  >
                  <ion-input
                    [readonly]="true"
                    formControlName="identificator"
                    placeholder="Correo electrónico o nombre de usuario">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="12">
                <ion-item lines="none">
                  <ion-label position="stacked" class="bold-label"
                    >Nueva Contraseña</ion-label
                  >
                  <ion-input
                    type="password"
                    formControlName="newPassword"
                    placeholder="Ingrese su nueva contraseña">
                    <ion-input-password-toggle
                      slot="end"></ion-input-password-toggle>
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
                <ion-button expand="block" type="submit" class="ion-margin-top">
                  Restablecer Contraseña
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
    </ng-template>

    <ng-template #modalTransfer let-close="close" let-save="save">
      <ion-header>
        <ion-toolbar>
          <ion-title>Transferir Cartera</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Usuario Destino</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-searchbar
                    [placeholder]="'Buscar Asesor...'"
                    [(ngModel)]="searchUser"
                    (ionInput)="searchValueChanged($event, 'user')">
                  </ion-searchbar>
                  <ion-list>
                    <ion-item *ngFor="let usuario of filteredUsers">
                      <ion-label>{{ usuario.nombre }}</ion-label>
                      <ion-button
                        slot="end"
                        (click)="setTransfer(usuario)">
                        <ion-icon name="arrow-forward"></ion-icon>
                      </ion-button>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </ion-content>
    </ng-template>

    <ng-template #modalSelectClients let-close="close" let-save="save">
      <ion-header>
        <ion-toolbar>
          <ion-title>Clientes Asignados</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <section>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="12">
                <ion-searchbar
                  [placeholder]="searchPlaceHolder"
                  [(ngModel)]="searchClient"
                  (ionInput)="searchValueChanged($event, 'client')">
                </ion-searchbar>
                <ion-list *ngIf="filteredClients.length > 0">
                  @for (client of filteredClients; track client.id) {
                  <ion-item
                    class="user-select-none"
                    (click)="toggleSelection(client)">
                    <ion-label
                      >{{client.nombres}} {{client.apellidos}} -
                      {{client.dni}}</ion-label
                    >
                  </ion-item>
                  }
                </ion-list>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="12">
                <div *ngIf="selectedClients.length > 0">
                  <ion-list-header>
                    <ion-label
                      ><h2>
                        <strong
                          >Cantidad de clientes asignados
                          ({{selectedClients.length}})</strong
                        >
                      </h2>
                    </ion-label>
                  </ion-list-header>
                  <ion-list>
                    @for (client of selectedClients; track client.id) {
                    <ion-item>
                      <ion-label>
                        <h2>{{ client.nombres }} {{client.apellidos}}</h2>
                        <p>Email: {{ client.email }}</p>
                      </ion-label>
                      <ion-button
                        slot="end"
                        fill="clear"
                        (click)="removeClient(client)">
                        <ion-icon name="close-circle-outline"></ion-icon>
                      </ion-button>
                    </ion-item>
                    }
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
      </ion-content>
    </ng-template>

    <ng-template #modalViewInfo let-close="close" let-save="save">
      <ion-header>
        <ion-toolbar>
          <ion-title>Vista de Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-content>
            @for (column of columnsData; track column.key) { @if (column.key !==
            'actions') {
            <ion-item lines="none" lines="none">
              <ion-label>{{ column.alias }}</ion-label>
              @switch (column.type) { @case ('boolean') {
              <ion-badge
                slot="end"
                [color]="getCellValue(element, column.key) ? 'success' : 'medium'">
                {{ getCellValue(element, column.key) ? "Activo" : "Inactivo" }}
              </ion-badge>
              } @case ('object') {
              <ion-note slot="end"
                >{{ getObjectValue(element, column.key) }}</ion-note
              >
              } @default {
              <ion-note slot="end"
                >{{ getCellValue(element, column.key) }}</ion-note
              >
              } }
            </ion-item>
            } }
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </section>
</ion-content>
