<ion-content [fullscreen]="false">
  <app-wrapper
    [textLoader]="textLoader"
    [toastMessage]="toastMessage"
    [toastColor]="toastColor"
    [isToastOpen]="isToastOpen"
    (isToastOpenChange)="setOpenedToast($event)">
  </app-wrapper>

  <section class="container">
    <app-view-data
      [searchPlaceHolder]="'Buscar por Código...'"
      [showAdd]="false"
      [currentPage]="1"
      [totalPages]="10"
      [title]="'Contratos Pago'"
      [data]="elements"
      [columnsData]="columnsData"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (addButtonClicked)="onAddButtonClicked()"
      (editButtonClicked)="onEditButtonClicked($event)"
      (deleteButtonClicked)="onDeleteButtonClicked($event)"
      (infoButtonClicked)="onInfoButtonClicked($event)"
      (goButtonClicked)="onGoButtonClicked($event)"
      (currentPageOut)="onPageChange($event)"
      (searchOut)="onSearchData($event)">
    </app-view-data>

    <app-reusable-modal
      [(isOpen)]="isModalOpen"
      [content]="modalSelected"
      [formSave]="formSelected"
      (saveData)="handleSave($event)">
    </app-reusable-modal>

    <ng-template #modalAdd let-close="close" let-save="save" let-form="form">
      <ion-header>
        <ion-toolbar>
          <ion-title>Formulario de Usuarios</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="form" (ngSubmit)="save(form.value)">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-select formControlName="rolid" label="Rol"> </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-input
                    label="Nombre:"
                    formControlName="nombre"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-input
                    label="Apellido:"
                    formControlName="apellido"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-input
                    label="Télefono:"
                    type="tel"
                    formControlName="telefono"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-sm="6" size-md="6">
                <ion-item lines="none">
                  <ion-input
                    label="Correo:"
                    type="email"
                    formControlName="correo"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-md="6">
                <ion-item lines="none">
                  <ion-textarea
                    label="Observación:"
                    formControlName="observacion"
                    rows="3"></ion-textarea>
                </ion-item>
              </ion-col>

              <ion-col size-xs="6" size-md="3">
                <ion-item lines="none" lines="none">
                  <ion-label>AD</ion-label>
                  <ion-toggle formControlName="ad"></ion-toggle>
                </ion-item>
              </ion-col>

              <ion-col size-xs="6" size-md="3">
                <ion-item lines="none" lines="none">
                  <ion-label>Estado</ion-label>
                  <ion-toggle formControlName="estado"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
                <ion-button expand="block" type="submit" class="ion-margin-top">
                  Guardar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
    </ng-template>

    <ng-template #modalViewInfo let-close="close" let-save="save">
      <ion-header>
        <ion-toolbar>
          <ion-title>Vista de Contrato</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <card-view-info
          [element]="element"
          [columnsData]="columnsData"></card-view-info>
      </ion-content>
    </ng-template>
  </section>
</ion-content>
