<section>
  <div class="row">
    <div class="wrapper">
      <div
        class="upload-container"
        ng2FileDrop
        (fileOver)="fileOverAnother($event)"
        [uploader]="uploader">
        <div
          class="border-container"
          [ngClass]="{
            'border-container-green': hasAnotherDropZoneOver
          }">
          <div class="icons fa-4x">
            <i
              class="fas fa-file-image"
              data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
            <i
              class="fas fa-cloud-upload-alt"
              data-fa-transform="shrink-2 up-4"></i>
            <i
              class="fas fa-file-pdf"
              data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
          </div>
          <p>
            Arrastra y suelta aquí, o
            <a
              class="text-success cursor-pointer"
              (click)="selectFile()"
              id="file-browser"
              >explora</a
            >
            tu computadora.
          </p>
        </div>
      </div>
    </div>

    <input
      #fileInputTemplate
      accept="image/*,.pdf"
      ng2FileSelect
      [uploader]="uploader"
      class="d-none"
      id="file_input"
      type="file"
      [multiple]="false" />
  </div>

  <section *ngIf="uploader.queue.length > 0" class="table-responsive">
    <table class="custom-table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Tamaño</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td class="text-center">
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.options.isHTML5" class="text-center">
            {{ item?.file?.size / 1024 / 1024 | number : ".2" }} MB
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center py-2">
              <button
                (click)="removeFile(item)"
                type="button"
                class="btn btn-danger btn-sm rounded-circle">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>