<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Visor de Archivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-wrapper [showBreadcrumb]="false"></app-wrapper>

  <ion-card>
    <ion-card-content>
      <div *ngIf="fileUrl">
        <div *ngIf="isImage" class="image-viewer">
          <img
            class="mt-3"
            style="height: auto;"
            #imageElement
            [src]="fileUrl"
            [style.transform]="'scale(' + scale + ') rotate(' + rotation + 'deg)'"
            (load)="onImageLoad()" />
        </div>

        <pdf-viewer
          *ngIf="isPdf"
          [src]="fileUrl"
          [render-text]="true"
          class="pdf-viewer"></pdf-viewer>
      </div>

      <ion-text color="danger" *ngIf="error">
        <p><ion-icon name="alert-circle-outline"></ion-icon> {{ error }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="d-flex justify-content-center">
      <ion-button shape="round" (click)="zoomIn()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" (click)="zoomOut()">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" (click)="rotateClockwise()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" (click)="rotateCounterClockwise()">
        <ion-icon name="refresh-outline" class="flip-horizontal"></ion-icon>
      </ion-button>
      <ion-button shape="round" (click)="resetImage()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>